In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
series=pd.read_pickle('./text_clean.pkl')

In [6]:
series

0               life give lemon lemonade
1                 buy lemon maven market
2            dozen lemon gallon lemonade
3    lemon lemon lemon lemon lemon lemon
4            run market lemon sale today
5                     market carry lemon
6      palmer half lemonade half ice tea
7                       ice tea favorite
Name: sentence, dtype: object

In [21]:
tv=TfidfVectorizer(stop_words="english", ngram_range=(1,2),min_df=.2,max_df=0.8)
tfidf=tv.fit_transform(series)
tf_df=pd.DataFrame(tfidf.toarray(), columns=tv.get_feature_names_out())

In [23]:
tf_df

        ice   ice tea     lemon  lemonade    market       tea
0  0.000000  0.000000  0.568471  0.822704  0.000000  0.000000
1  0.000000  0.000000  0.568471  0.000000  0.822704  0.000000
2  0.000000  0.000000  0.568471  0.822704  0.000000  0.000000
3  0.000000  0.000000  1.000000  0.000000  0.000000  0.000000
4  0.000000  0.000000  0.568471  0.000000  0.822704  0.000000
5  0.000000  0.000000  0.568471  0.000000  0.822704  0.000000
6  0.516768  0.516768  0.000000  0.445928  0.000000  0.516768
7  0.577350  0.577350  0.000000  0.000000  0.000000  0.577350