In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
series=pd.read_pickle('./text_clean.pkl')

In [6]:
series

0               life give lemon lemonade
1                 buy lemon maven market
2            dozen lemon gallon lemonade
3    lemon lemon lemon lemon lemon lemon
4            run market lemon sale today
5                     market carry lemon
6      palmer half lemonade half ice tea
7                       ice tea favorite
Name: sentence, dtype: object

In [17]:
tv=TfidfVectorizer(stop_words="english", ngram_range=(1,2),max_df=0.8)
tfidf=tv.fit_transform(series)
tf_df=pd.DataFrame(tfidf.toarray(), columns=tv.get_feature_names_out())

In [19]:
tf_df

,buy,buy lemon,carry,carry lemon,dozen,dozen lemon,favorite,gallon,gallon lemonade,half,...,maven market,palmer,palmer half,run,run market,sale,sale today,tea,tea favorite,today
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.416207,0.416207,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.416207,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.416207,0.416207,0.000000,0.416207,0.416207,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.00000,0.358685,0.358685,0.358685,0.358685,0.000000,0.000000,0.358685
5,0.000000,0.000000,0.514841,0.514841,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.586459,...,0.000000,0.29323,0.29323,0.000000,0.000000,0.000000,0.000000,0.245749,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493436,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.413538,0.493436,0.000000