In [1]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [4]:
df=pd.read_csv('../Data/movie_reviews.csv')

In [5]:
df.head()

,movie_title,rating,genre,in_theaters_date,movie_info,directors,director_gender,tomatometer_rating,audience_rating,critics_consensus
0,A Dog's Journey,PG,"Drama, Kids & Family",5/17/19,Bailey (voiced again by Josh Gad) is living th...,Gail Mancuso,female,50,92,A Dog's Journey is as sentimental as one might...
1,A Dog's Way Home,PG,Drama,1/11/19,"Separated from her owner, a dog sets off on an...",Charles Martin Smith,male,60,71,A Dog's Way Home may not quite be a family-fri...
2,A Tuba to Cuba,NR,"Documentary, Musical & Performing Arts",2/15/19,The leader of New Orleans' famed Preservation ...,"Danny Clinch, T.G. Herrington",male,100,82,NaN
3,A Vigilante,R,Drama,3/29/19,"A once abused woman, Sadie (Olivia Wilde), dev...",Sarah Daggar-Nickson,female,92,50,Led by Olivia Wilde's fearless performance and...
4,After,PG-13,"Drama, Romance",4/12/19,Based on Anna Todd's best-selling novel which ...,Jenny Gage,female,17,72,"Tepid and tired, After's fun flourishes are le..."

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_title         166 non-null    object
 1   rating              166 non-null    object
 2   genre               166 non-null    object
 3   in_theaters_date    166 non-null    object
 4   movie_info          166 non-null    object
 5   directors           166 non-null    object
 6   director_gender     166 non-null    object
 7   tomatometer_rating  166 non-null    int64
 8   audience_rating     166 non-null    int64
 9   critics_consensus   147 non-null    object
dtypes: int64(2), object(8)
memory usage: 13.1+ KB

In [6]:
def get_sentiment(text):
    anlyser=SentimentIntensityAnalyzer()
    return anlyser.polarity_scores(text)['compound']

In [11]:
df['vardar_sentiment']= df['movie_info'].apply(get_sentiment)

In [12]:
df.head()

,movie_title,rating,genre,in_theaters_date,movie_info,directors,director_gender,tomatometer_rating,audience_rating,critics_consensus,vardar_sentiment
0,A Dog's Journey,PG,"Drama, Kids & Family",5/17/19,Bailey (voiced again by Josh Gad) is living th...,Gail Mancuso,female,50,92,A Dog's Journey is as sentimental as one might...,0.9837
1,A Dog's Way Home,PG,Drama,1/11/19,"Separated from her owner, a dog sets off on an...",Charles Martin Smith,male,60,71,A Dog's Way Home may not quite be a family-fri...,0.9237
2,A Tuba to Cuba,NR,"Documentary, Musical & Performing Arts",2/15/19,The leader of New Orleans' famed Preservation ...,"Danny Clinch, T.G. Herrington",male,100,82,NaN,0.9360
3,A Vigilante,R,Drama,3/29/19,"A once abused woman, Sadie (Olivia Wilde), dev...",Sarah Daggar-Nickson,female,92,50,Led by Olivia Wilde's fearless performance and...,-0.0334
4,After,PG-13,"Drama, Romance",4/12/19,Based on Anna Todd's best-selling novel which ...,Jenny Gage,female,17,72,"Tepid and tired, After's fun flourishes are le...",0.9349

In [21]:
df[['vardar_sentiment', 'movie_title']].sort_values(by="vardar_sentiment", ascending=False)

     vardar_sentiment       movie_title
23             0.9915      Breakthrough
81             0.9909      Missing Link
130            0.9908    The Laundromat
48             0.9889   Five Feet Apart
156            0.9862         UglyDolls
..                ...               ...
11            -0.9687     Angel of Mine
154           -0.9696     Triple Threat
83            -0.9756  Nightmare Cinema
148           -0.9838          The Wind
7             -0.9955       All Is True

[166 rows x 2 columns]

In [22]:
df[['vardar_sentiment', 'movie_title']].sort_values(by="vardar_sentiment", ascending=False).tail(10)

     vardar_sentiment                    movie_title
40            -0.9578                     El Chicano
142           -0.9590  The Standoff at Sparrow Creek
87            -0.9590                   Pet Sematary
113           -0.9628        The Curse of La Llorona
27            -0.9643                   Charlie Says
11            -0.9687                  Angel of Mine
154           -0.9696                  Triple Threat
83            -0.9756               Nightmare Cinema
148           -0.9838                       The Wind
7             -0.9955                    All Is True